@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Las columnas se apilan una debajo de la otra */
        margin-right: 0; /* Elimina el margen derecho */
    }

    .pic {
        display: none !important; /* Asegura que la imagen se oculte */
    }

    .detail {
        align-items: center; /* Centra los detalles en pantallas pequeñas */
    }

    .detailcontainer {
        max-width: 100%; /* Asegura que los contenedores de detalles ocupen el ancho completo */
        margin-bottom: 1rem; /* Agrega margen entre los contenedores */
    }

    .aboutcontainer {
        flex-direction: column; /* Alinea las tarjetas de experiencia y educación en una sola columna */
    }

    .title {
        font-size: 2.5rem; /* Ajusta el tamaño del título en pantallas más pequeñas */
    }

    .t1 {
        font-size: 1.5rem; /* Ajusta el subtítulo */
    }

    .iconarrow {
        display: none;
    }

}



.about {
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    min-height: fit-content;
    position: relative;
    padding-top: 15vh;
}

.title {
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

.t1 {
    font-weight: 600;
    color: rgb(101, 101, 101);
    text-align: center;
    align-self: center;

}

.text {
    color: rgb(101, 101, 101);
    max-width: 700px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.container {
    display: flex;
    box-sizing: border-box;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 10vh;
}

.pic {
    display: flex;
    height: 450px;
    width: 650px;
    margin: auto 0;
    justify-content: center;
}

.icon {
    height: 2rem;
}

#about {
    position: relative;
}

.aboutcontainer {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.detail {
    justify-content: center;
    flex-direction: column;
}

.aboutcontainer,.detail {
    display: flex;
}

.aboutpic {
    border-radius: 2rem;
}

.iconarrow {
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    height: 2rem;
    cursor: pointer;
}

.detailcontainer {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
    max-width: 400px;
}