@media screen and (max-width: 800px) {
  .contactinfouppercontainer {
    flex-direction: column; /* Cambiar la dirección del contenedor */
    width: 70%; /* Asegurarte de que ocupe el 100% del ancho */
    padding: 1rem;
  }

  .contactinfocontainer {
    width: 100%;
    margin: 0.5rem 0;
    justify-content: space-around; /* Para distribuir mejor en el espacio disponible */
  }
}


.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  padding-top: 15vh;
  width: 100%;
}

.contactinfouppercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  background-color: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  margin-top: 15vh;
}

.contactinfocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contactinfocontainer p {
  font-size: larger;
}

.contacticon {
  cursor: default;
  height: 2.5rem;
}

.emailicon {
  height: 2.5rem;
}

.a {
    color: rgb(118, 118, 118);
}

.title {
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

.p1 {
    font-weight: 600;
    color: rgb(101, 101, 101);
    text-align: center;
    align-self: center;
}