.experiencecontainer {
    padding-top: 4vh;
    height: 96vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: fit-content;
    gap: 5rem;
    position: relative;
}

.title {
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

.p1 {
    font-weight: 600;
    color: rgb(101, 101, 101);
    text-align: center;
    align-self: center;
}

.icon {
    height: 2rem;
}

.p2 {
    color: rgb(101, 101, 101);
}

.experience {
    margin-top: 1rem;
    /* margin-left: 10rem; */
}

.iconarrow{
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    height: 2rem;
    cursor: pointer;
}

.experiencesubtitle {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.detailcontainer {
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
    /* margin-left: 8rem;
    margin-right: 8rem; */
    margin: 2rem;
}

.articlecontainer {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.aboutcontainer {
    display: flex;
    justify-content: center;
    margin: 0 10rem;
    margin-top: 5rem;
}

article {
    display: flex;
    width: 12rem;
    justify-content: space-around;
    gap: 0.5rem;
}

