.profilesection {
    padding-top: 4vh;
    height: 96vh;
    /* margin: 0 10rem; */
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    gap: 5rem;
    /* height: 80vh; */
    margin-right: 10rem;
}

.pic {
    display: flex;
    height: 650px;
    width: 650px;
    margin: auto 0;
    justify-content: center;
}

.text {
    align-self: center;
    text-align: center;
}

.text p {
    font-weight: 600;
    color: rgb(82, 82, 82);
}

.textp1 {
    text-align: center;
}

.textp2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.btncontainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn2 {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    background: rgb(53,53,53);
    color: white;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    background: none;
    border: rgb(0,0,0) 0.1rem solid;
}

.btn2:hover {
    cursor: pointer;
    background: rgb(0,0,0);
}

.btn:hover {
    cursor: pointer;
    background: rgb(53,53,53);
    color: white;
    border: rgb(255,255,255) 0.1rem solid;
}

